ui-tienda-test-war/src/conf/xml-resources/web-service-references/ClienteWebService/wsdl/localhost_8080/ClienteWebService/ClienteWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio.entidades.tienda.xergio.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio.entidades.tienda.xergio.com/">

<xs:element name="buscarClienteId" type="tns:buscarClienteId"/>

<xs:element name="buscarClienteIdResponse" type="tns:buscarClienteIdResponse"/>

<xs:element name="buscarTodosLosCliente" type="tns:buscarTodosLosCliente"/>

<xs:element name="buscarTodosLosClienteResponse" type="tns:buscarTodosLosClienteResponse"/>

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="eliminarCliente" type="tns:eliminarCliente"/>

<xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse"/>

<xs:element name="guardarCliente" type="tns:guardarCliente"/>

<xs:element name="guardarClienteResponse" type="tns:guardarClienteResponse"/>

<xs:complexType name="buscarTodosLosCliente">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarTodosLosClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:clienteDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clienteDTO">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarCliente">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarClienteId">
<xs:sequence>
<xs:element name="Id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarClienteIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:clienteDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCliente">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>