ui-tienda-test-war/src/conf/xml-resources/web-service-references/ProductoWebService/wsdl/localhost_8080/ProductoWebService/ProductoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.entidades.tienda.xergio.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.entidades.tienda.xergio.com/" name="ProductoWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.entidades.tienda.xergio.com/" schemaLocation="http://localhost:8080/ProductoWebService/ProductoWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarProductoId">
<part name="parameters" element="tns:buscarProductoId"/>
</message>
<message name="buscarProductoIdResponse">
<part name="parameters" element="tns:buscarProductoIdResponse"/>
</message>
<message name="guardarProducto">
<part name="parameters" element="tns:guardarProducto"/>
</message>
<message name="guardarProductoResponse">
<part name="parameters" element="tns:guardarProductoResponse"/>
</message>
<message name="eliminarProducto">
<part name="parameters" element="tns:eliminarProducto"/>
</message>
<message name="eliminarProductoResponse">
<part name="parameters" element="tns:eliminarProductoResponse"/>
</message>
<message name="buscarTodosLosProducto">
<part name="parameters" element="tns:buscarTodosLosProducto"/>
</message>
<message name="buscarTodosLosProductoResponse">
<part name="parameters" element="tns:buscarTodosLosProductoResponse"/>
</message>
<message name="transformarJpaDto">
<part name="parameters" element="tns:transformarJpaDto"/>
</message>
<message name="transformarJpaDtoResponse">
<part name="parameters" element="tns:transformarJpaDtoResponse"/>
</message>
<portType name="ProductoWebService">
<operation name="buscarProductoId">
<input wsam:Action="http://servicio.entidades.tienda.xergio.com/ProductoWebService/buscarProductoIdRequest" message="tns:buscarProductoId"/>
<output wsam:Action="http://servicio.entidades.tienda.xergio.com/ProductoWebService/buscarProductoIdResponse" message="tns:buscarProductoIdResponse"/>
</operation>
<operation name="guardarProducto">
<input wsam:Action="http://servicio.entidades.tienda.xergio.com/ProductoWebService/guardarProductoRequest" message="tns:guardarProducto"/>
<output wsam:Action="http://servicio.entidades.tienda.xergio.com/ProductoWebService/guardarProductoResponse" message="tns:guardarProductoResponse"/>
</operation>
<operation name="eliminarProducto">
<input wsam:Action="http://servicio.entidades.tienda.xergio.com/ProductoWebService/eliminarProductoRequest" message="tns:eliminarProducto"/>
<output wsam:Action="http://servicio.entidades.tienda.xergio.com/ProductoWebService/eliminarProductoResponse" message="tns:eliminarProductoResponse"/>
</operation>
<operation name="buscarTodosLosProducto">
<input wsam:Action="http://servicio.entidades.tienda.xergio.com/ProductoWebService/buscarTodosLosProductoRequest" message="tns:buscarTodosLosProducto"/>
<output wsam:Action="http://servicio.entidades.tienda.xergio.com/ProductoWebService/buscarTodosLosProductoResponse" message="tns:buscarTodosLosProductoResponse"/>
</operation>
<operation name="transformarJpaDto">
<input wsam:Action="http://servicio.entidades.tienda.xergio.com/ProductoWebService/transformarJpaDtoRequest" message="tns:transformarJpaDto"/>
<output wsam:Action="http://servicio.entidades.tienda.xergio.com/ProductoWebService/transformarJpaDtoResponse" message="tns:transformarJpaDtoResponse"/>
</operation>
</portType>
<binding name="ProductoWebServicePortBinding" type="tns:ProductoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarProductoId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarTodosLosProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transformarJpaDto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductoWebService">
<port name="ProductoWebServicePort" binding="tns:ProductoWebServicePortBinding">
<soap:address location="http://localhost:8080/ProductoWebService/ProductoWebService"/>
</port>
</service>
</definitions>