ui-tienda-test-war/src/conf/xml-resources/web-service-references/ClienteWebService_1/wsdl/LAPTOP-28DABLD1_8080/ClienteWebService/ClienteWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.entidades.tienda.xergio.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.entidades.tienda.xergio.com/" name="ClienteWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.entidades.tienda.xergio.com/" schemaLocation="http://LAPTOP-28DABLD1:8080/ClienteWebService/ClienteWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarTodosLosCliente">
<part name="parameters" element="tns:buscarTodosLosCliente"/>
</message>
<message name="buscarTodosLosClienteResponse">
<part name="parameters" element="tns:buscarTodosLosClienteResponse"/>
</message>
<message name="guardarCliente">
<part name="parameters" element="tns:guardarCliente"/>
</message>
<message name="guardarClienteResponse">
<part name="parameters" element="tns:guardarClienteResponse"/>
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente"/>
</message>
<message name="eliminarClienteResponse">
<part name="parameters" element="tns:eliminarClienteResponse"/>
</message>
<message name="buscarClienteId">
<part name="parameters" element="tns:buscarClienteId"/>
</message>
<message name="buscarClienteIdResponse">
<part name="parameters" element="tns:buscarClienteIdResponse"/>
</message>
<portType name="ClienteWebService">
<operation name="buscarTodosLosCliente">
<input wsam:Action="http://servicio.entidades.tienda.xergio.com/ClienteWebService/buscarTodosLosClienteRequest" message="tns:buscarTodosLosCliente"/>
<output wsam:Action="http://servicio.entidades.tienda.xergio.com/ClienteWebService/buscarTodosLosClienteResponse" message="tns:buscarTodosLosClienteResponse"/>
</operation>
<operation name="guardarCliente">
<input wsam:Action="http://servicio.entidades.tienda.xergio.com/ClienteWebService/guardarClienteRequest" message="tns:guardarCliente"/>
<output wsam:Action="http://servicio.entidades.tienda.xergio.com/ClienteWebService/guardarClienteResponse" message="tns:guardarClienteResponse"/>
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://servicio.entidades.tienda.xergio.com/ClienteWebService/eliminarClienteRequest" message="tns:eliminarCliente"/>
<output wsam:Action="http://servicio.entidades.tienda.xergio.com/ClienteWebService/eliminarClienteResponse" message="tns:eliminarClienteResponse"/>
</operation>
<operation name="buscarClienteId">
<input wsam:Action="http://servicio.entidades.tienda.xergio.com/ClienteWebService/buscarClienteIdRequest" message="tns:buscarClienteId"/>
<output wsam:Action="http://servicio.entidades.tienda.xergio.com/ClienteWebService/buscarClienteIdResponse" message="tns:buscarClienteIdResponse"/>
</operation>
</portType>
<binding name="ClienteWebServicePortBinding" type="tns:ClienteWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarTodosLosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarClienteId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClienteWebService">
<port name="ClienteWebServicePort" binding="tns:ClienteWebServicePortBinding">
<soap:address location="http://LAPTOP-28DABLD1:8080/ClienteWebService/ClienteWebService"/>
</port>
</service>
</definitions>